<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        .origin_image,.content_image{display:block;}
    </style>
</head>
<body>
<h1>{{ title }}</h1>
<!--CONTENT-->
<div>{% raw content %}</div>
<br>
<!--CONTENT-->

<!--COMMENTS-->
<h2>Comments</h2>
{% for comment in comments %}
<div>
    <b>{% raw comment["Author"] %}</b>
    <br>
    {% raw comment["Content"] %}
</div>
<br>
{% end %}
<!--COMMENTS-->

<!--ANSWERS-->
<h2>Answers</h2>
<ul>
    {% for answer in answers %}
    <li><a href="/answer/{{ answer['AnswerID'] }}">{{ answer['AnswerID'] }}</a> By:{{ answer["Author"] }}</li>
    {% end %}
</ul>
<!--ANSWERS-->
</body>
</html>